<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - ThalassHome</title>
    <link rel="stylesheet" href="/static/login.css" type="text/css">
</head>
<body>
    <div class="container">
        <form action="/auth/login" method="POST" class="login">
            <div class="login-screen">
                <div class="app-title">
                    <h1>Login</h1>
                </div>

                <div class="login-form">
                    <div class="control-group">
                        <input type="email" class="login-field" placeholder="Email" name="username" required autocomplete="email">
                    </div>

                    <div class="control-group">
                        <input type="password" class="login-field" placeholder="Password" name="password" required minlength="8">
                    </div>

                    <button type="submit" class="btn btn-primary btn-large btn-block">Log in</button>

                    <div class="login-link">
                        <a href="{{ url_for('auth.render_signup') }}">Don't have an account? Sign up</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</body>
</html>
